.account-cart-box {
    display: flex;
    align-self: center;
    flex-wrap: wrap;
}

.account-div:hover > .account-menu {
    display: flex;
    flex-direction: column;
}

.account-menu {
    position: absolute;
    display: none;
    background-color: #34000b;
    width: 200px;
    border: 1px solid white;
    z-index: 1300;
}

.account-menu div {
    position: relative; /* Required for ::after to be positioned correctly */
    padding: 4px;
    cursor: pointer;
}

.account-menu div a {
    position: relative; /* anchor becomes the positioning context for ::after */
    display: inline-block; /* makes the a-tag size to the text width */
    text-decoration: none;
    color: white;
}

.account-menu div a:after {
    content: '';
    position: absolute;
    left: 0;
    top: 47%;
    width: 100%;
    height: 2px;
    background: darkred;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.account-menu div a:hover::after {
    transform: scaleX(1);
}

.account-menu div a:visited {
    color: white;
}

.account-menu div a:hover {
    color: white;
}

.account-menu div a:active {
    color: white;
}

.account-button.account-button {
    color: white;
    font-size: 17px;
    font-family: 'Lato';
    text-transform: none;
    margin-right: 10px;
}

.account-button.account-button:hover {
    color: darkred;
}

.account-button.account-button:after {
    content: '';
    position: absolute;
    left: 0;
    top: 47%;
    width: 100%;
    height: 2px;
    background: darkred;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.account-button.account-button:hover::after {
    transform: scaleX(1);
}

.account-button::before {
    content: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='13' height='18' fill='none'%3E%3Cpath fill='%23BE9359' d='M7.16 14.055V8.766l3.4-.755v1.888l-1.889.378v7.178c2.73-1.35 3.4-3.778 3.4-3.778V6.122c0-3.701-2.398-5.667-5.667-5.667C3.144.463.36 2.429.36 6.122v7.555s.67 2.429 3.4 3.778v-7.178L1.871 9.9V8.011l3.4.755v5.289l.94.779.949-.779Z'/%3E%3C/svg%3E");
    margin-right: 3px;
    position: relative;
    bottom: -3px;
}

.cart-button.cart-button {
    color: white;
    font-size: 17px;
    font-family: 'Lato';
    text-transform: none;
    margin-left: 10px;
}

.cart-button.cart-button:hover {
    color: darkred;
}

.cart-button.cart-button::after {
    content: '';
    position: absolute;
    left: 0;
    top: 47%;
    width: 100%;
    height: 2px;
    background: darkred;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease;
}

.cart-button.cart-button:hover::after {
    transform: scaleX(1);
}

.cart-button::before {
    content: url("../shopping-cart-outline-svgrepo-com.svg");
    margin-right: 3px;
    position: relative;
    bottom: -3px;
}