.empty-message {
    color: #34000b;
    font-size: 2em;
}

.cart-content {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

@media (max-width: 1000px) {
    .cart-content {
        flex-direction: column;
    }
}

.cart-entries-div {
    flex: 1;
}

.cart-page-entry-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    height: 110px;
    width: 100%;
    color: white;
    margin: 10px;
    background-color: #34000b;
    border-radius: 20px;
    min-width: 240px;
}

.cart-page-entry-image-div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100%;
}

.cart-page-entry-image-div a {
    height: 85%;
}

.cart-page-entry-image {
    height: 100%;
    width: 100%;
}

.cart-page-entry-div-text {
    margin-left: 6px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    text-align: center;
}

.cart-page-entry-link {
    color: #e1b65b;
    text-decoration: none;
}

.cart-page-options {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #a98351;
}

.order-button.MuiButtonBase-root {
    width: 50%;
    text-align: center;
    background-color: #a30015;
}

.order-button.MuiButtonBase-root:hover {
    background-color: #e10019;
}

.cart-page-quantity-div {
    display: flex;
    align-items: center;
}

.quantity-select {
    width: 100px;
}

.quantity-select .MuiOutlinedInput-root .MuiOutlinedInput-notchedOutline {
    border-color: #e1b65b; /* Border color */
}

.quantity-select .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: #e1b65b; /* Border color when hovered */
}

.quantity-select .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #e1b65b; /* Border color when focused */
}

.quantity-select .MuiInputBase-input {
    color: white;
}

.remove-button.MuiButtonBase-root {
    color: white;
    height: 60%;
    text-align: center;
}

.remove-button.MuiButtonBase-root:hover {
    color: darkred;
}

@media screen and (min-width: 1200px) {
    .cart-page-entry-image-div {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        width: 100px;
        height: 100%;
    }
}