.form-control.MuiFormControl-root {
    margin-top: 15px;
}

.select .MuiSelect-select {
    background-color: #be9359;
    color: white;
}

.MuiPaper-root.MuiPopover-paper.MuiMenu-paper {
    background-color: black;
    color: white;
}

.MuiButtonBase-root.MuiMenuItem-root.Mui-selected:hover {
    background-color: white;
    color: black;
}

.MuiButtonBase-root.MuiMenuItem-root:hover {
    background-color: white;
    color: black;
}