.box {
    display: flex;
    width: 65vw;
    align-self: center;
    justify-content: center;
    flex-wrap: wrap;
}

.category-button.category-button {
    color: white;
    font-size: 15px;
    font-family: 'Lato';
    text-transform: none;
    margin-bottom: 5px;
    margin-left: 3px;
    margin-right: 3px;
}

.category-button.category-button:hover {
    background-color: transparent;
}

.arrow-div {
    transition: all ease 100ms;
    transform: matrix(0, 1, -1, 0, 0, -2.5) scale(0.5);

}

.category-button.category-button:hover > .arrow-div {
    transform: matrix(0, -1, -1, 0, 0, -2.5) scale(0.5);
    transition: all ease 100ms;
}