.app {
    text-align: center;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: #1a1a1a;
    min-height: 10vh; /* Adjust height as needed */
    display: flex;
    flex-direction: column;
}

.header-wrapper {
    display: flex;
    align-self: center;
    flex-direction: column;
    flex-wrap: wrap;
    position: relative;
    max-width: 1400px;
}

.color-bar {
    height: 25px;
    background-color: #be9359;
}

.top-elements {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    color: white;
    margin-top: 15px;
    margin-bottom: 20px;
}

.search-bar-wrapper {
    max-width: 500px;
    width: 80vw;
}
