.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.App-header {
  background-color: #333;
  min-height: 30vh; /* Adjust height as needed */
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative; /* Needed for absolute positioning of NavBar */
}
